@model BlooDyWeb.Models.DistributionModule.Chauffeur

@{
    ViewData["Title"] = "Details Chauffeur";
}

<h1>Details Chauffeur: <span class="display-0">@Model.Code</span></h1>

<div>
    @* <h4>ExamenMedical</h4> *@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personne.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personne.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personne.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personne.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personne.NIF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personne.NIF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personne.CIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personne.CIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Centre.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Centre.NomCentre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Centre.NomCentre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personne.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personne.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personne.Adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personne.Adresse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreeLe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreeLe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ModifierChauffeur" class="btn btn-danger" asp-route-id="@Model?.Id">Modifier</a>
    <a asp-action="Index" class="btn btn-info">Chauffeurs</a>
</div>
