@model IEnumerable<BlooDyWeb.Models.Stock.Composante>

@{
    ViewData["Title"] = "Composantes";
}

<h1>Liste des Composantes</h1>

<p>
    <a class="btn btn-danger float-end mb-3" asp-action="AjouterComposante">Nouveau + </a>
</p>
<table class="table table-hover">
    <thead class="bg-info text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeComposanteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreeLe)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeComposanteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreeLe)
                </td>
                <td>
                    <a asp-action="ModifierComposante" class="btn btn-outline-danger" asp-route-id="@item.Id">Modifier</a>
                    <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id">Details</a>
                    @* <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        let table = new DataTable('.table');
    </script>
}