@model BlooDyWeb.Models.TransfusionModule.Beneficiaire

@{
    ViewData["Title"] = "Modifier Beneficiaire";
}
<form asp-controller="Beneficiaire" asp-action="ModifierBeneficiaire">
    <div class="container">
        <div class="row text-center">
            <h1>Modifier Beneficiaire</h1>
        </div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="PersonneId" />
        <div class="row">
            <div class="col-12 col-md-6 pb-4">
                <label asp-for="@Model.Personne.CIN"></label>
                <input asp-for="@Model.Personne.CIN" type="text" class="form-control" />
            </div>
            <div class="col-12 col-md-6 pb-4">
                <label asp-for="@Model.Personne.NIF"></label>
                <input asp-for="@Model.Personne.NIF" type="text" class="form-control" />
            </div>


            <div class="col-12 col-md-6 pb-4">
                <label asp-for="@Model.Personne.Nom"></label>
                <input asp-for="@Model.Personne.Nom" type="text" class="form-control" />
                <span asp-validation-for="Personne.Nom" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6 pb-4">
                <label asp-for="@Model.Personne.Prenom"></label>
                <input asp-for="@Model.Personne.Prenom" type="text" class="form-control" />
                <span asp-validation-for="Personne.Prenom" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6 pb-4">
                <label asp-for="@Model.Personne.Sexe"></label>
                <input asp-for="@Model.Personne.Sexe" type="text" class="form-control" />
                <span asp-validation-for="Personne.Sexe" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6 pb-4">
                <label asp-for="@Model.GroupeSanguin"></label>
                <input asp-for="@Model.GroupeSanguin" type="text" class="form-control" />
            </div>
            <div class="col-12 col-md-6 pb-4">
                <label asp-for="@Model.Personne.DateNaissance"></label>
                <input asp-for="@Model.Personne.DateNaissance" type="date" class="form-control" />
                <span asp-validation-for="Personne.DateNaissance" class="text-danger"></span>
            </div>

            <div class="col-12 col-md-6 pb-4">
                <label asp-for="@Model.Personne.StatutMatrimonial"></label>
                <input asp-for="@Model.Personne.StatutMatrimonial" type="text" class="form-control" />
            </div>

            <div class="col-12 col-md-6 pb-4">
                <label asp-for="@Model.Personne.Occupation"></label>
                <input asp-for="@Model.Personne.Occupation" type="text" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label asp-for="@Model.Personne.Adresse"></label>
                <input asp-for="@Model.Personne.Adresse" type="text" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <label asp-for="@Model.Personne.Telephone"></label>
                <input asp-for="@Model.Personne.Telephone" type="text" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label asp-for="@Model.Personne.Email"></label>
                <input asp-for="@Model.Personne.Email" type="text" class="form-control" />
            </div>

            <div class="col-12 col-md-6 pb-4">
                <label asp-for="@Model.HistoriqueMedical"></label>
                <textarea asp-for="@Model.HistoriqueMedical" type="text" class="form-control"> 
                </textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-danger" type="submit">Modifier</button>
                <a asp-action="Index" class="btn btn-info">Annuler</a>
            </div>
        </div>

    </div>

</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}